{{ define "style" }}
<style>
    .errors {
        color: red;
    }
</style>
{{end}}
{{ define "errors" }}
    {{- /*gotype: []error*/ -}}
    {{- if . -}}
        <div class="errors">
            <ul>
                {{- range . -}}
                    <li>{{ . }}</li>
                {{- end -}}
            </ul>
        </div>
    {{- end -}}

{{end}}
