{{ define "style" }}
    <style>
        .errors {
            color: red;
        }
    </style>
{{end}}
{{- define "errors" -}}
    {{- /*gotype: []error*/ -}}
    <turbo-frame id="errors">
        {{- if . -}}
            <div class="errors">
                <ul>
                    {{- range . -}}
                        <li>{{ . }}</li>
                    {{- end -}}
                </ul>
            </div>
        {{- end -}}
    </turbo-frame>
{{- end -}}
