<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{block "title" .title}}{{end}}</title>
    <script src="https://unpkg.com/@hotwired/turbo@7.3.0/dist/turbo.es2017-umd.js"></script>
    {{block "style" .style}}{{end}}

</head>
<body>
<div style="height: 50px; background: aqua">{{block "currentUser" .currentUser}}{{end}}</div>
<hr>
{{block "errors" .errors}}{{end}}
{{block "content" .content}}{{end}}
{{block "script" .script}}{{end}}
</body>
</html>
